/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__image-wrapper {
  width: 100%;
  margin: 0;
}

.matrix__image {
  width: 100%;
}

.matrix__info {
  font-family: fantasy, cursive;
}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.tasks-list {
  margin: 0;
  padding: 0;
}

.tasks-list__item,
.title {
  list-style: none;
}

.input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 35px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input_text:focus {
  color: #333;
}

/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}

.add-task__wrapper {
  display: flex;
}

.add-task__input-wrapper {
  display: flex;
  flex: 1;
}

/* Task list */
.tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list__input-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  margin: 0;
}

.tasks-list__input-wrapper {
  display: flex;
  flex: 1;
}

.tasks-list__item > * {
  vertical-align: middle;
}

.tasks-list__checkbox {
  margin: 0 10px;
}

.tasks-list__input {
  width: 100%;
}

.delete__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete__image:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list__input {
  display: none;
}

.tasks-list__item.edit-mode .tasks-list__input {
  display: inline-block;
  width: 224px;
}

.tasks-list__item.edit-mode .label {
  display: none;
}

@media (max-width:768px) {

  .about {
    text-align: center;
  }

}
